/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

#closeButton {
	margin: 15px 6px 6px;
}

@media print {
	.noPrint {
		display: none;
	}
}

.main-table {
	border-collapse: collapse;
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 1em;
	page-break-inside:avoid;
}

.main-table tr {
	page-break-inside:avoid; 	
}

.main-table td {
	margin: 0px;
	padding: 0px;	
	padding: 1px 4px 1px 4px;
	font-family: Arial;
	color: #ddd;
	font-size: 10pt;
	white-space:nowrap;
}

.header {	
	color: #efefef !important;
	background-color: #444 !important;
	font-size: 8pt !important;
	width: 3em;
	text-align: center;
	font-weight: bold;
}
.side-header {
	color: #efefef !important;
	background-color: #444 !important;
	font-weight: bold;
	font-size: 8pt !important;
}

.grey-area {
	background-color: #fafafa !important;
}

.week-odd {
	font-size: 8pt !important;
	border: 1px solid #ccc;
	background-color: #efefef !important;
	color: #888 !important;
	text-align: center;
}

.week-even {
	font-size: 8pt !important;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #888 !important;
	text-align: center;
	
}

.saturday {
	border-left: 1px double #666 !important;
}

.sunday {
	border-right: 1px double #666 !important;
}

.saturday-bottom{
	border-bottom: 1px double #666 !important;
}

.sunday-bottom{
	border-bottom: 1px double #666 !important;
}

.saturday-top{
	border-top: 1px double #666 !important;
}

.sunday-top{
	border-top: 1px double #666 !important;
} 